
.body{
    font-family: 'Courier New', Courier, monospace;
}
.custom-card {
    background-color: rgba(255, 255, 255, 0.897);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.custom-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.custom-card p {
    font-size: 16px;
}

.custom-col {
    background-color: rgba(118, 59, 59, 0.897); 
    border-radius: 10px;
}


#calendar .fc-event {
    background-color: #51061192;
    border-color: #910723;
}

/* Estilos para los días en el calendario */
#calendar .fc-day {
    background-color: #ffffff;
}
/* Estilo para el fondo de la fila del encabezado */
#calendar .fc-head {
    background-color: #000000df; /* Cambia el fondo de la fila del encabezado a blanco */
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    padding: 10%;
}
#calendar .fc-center h2{
    color: rgb(24, 2, 3);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#calendar .fc-left button{
    color: rgb(223, 18, 18);
    font-size: 10px;
    text-transform: uppercase;
}
#calendar .fc-right button{
    color: rgb(223, 18, 18);
    font-size: 10px;
    text-transform: uppercase;
}

.list-group-item.active {
    background-color: #000408; /* Cabecera de event list */
}

.list-group-item{
    color: #120000c5;

}
.list-group-item-success{
    background-color: #ee090957;
}

.event-title {
    background-color: #000000c5;
    color: #ffffff;
    padding: 2%;
}

h1  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #000000;
}




