body{
    font-family: 'Courier New', Courier, monospace;
}
.h2-centered {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.fc-event {
    background-color: #108c75; 
    color: #fff; 
    border-color: #49815e; 
    font-family: Arial, Helvetica, sans-serif;
}
.fc-day {
    background-color: #f4f2f0d2; 
    color: #fff; 
}
.fc-widget-header {
    background-color: #000000fe; 
    color: #fff; 
    font-family: 'Courier New', Courier, monospace;
}


/* Cambiar el color de los botones del encabezado del calendario */
.fc-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

/* Cambiar el color del texto del título del mes */
.fc-center h2 {
    color: #000000; 
    font-family: 'Courier New', bold;

}

.container-fluid {
    padding: 20px; 
}

.border-rounded {
    border: 2px solid #580a0d;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
}

.create-event-header {
    margin-bottom: 15px;
}
.green-background {
    background-color: #28a3a7; 
    color: #fff; 
}
.list-group-item.active {

    background-color: #120512;
    border: #000000;
}

.delete-event-button{
    background-color: #000000db;
    color: #f1ebeb;
    border-color: #000000;
}


#calendar .fc-left button{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
}
#calendar .fc-right button{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
}

