body{
    font-family: 'Courier New', Courier, monospace;
}
.h2-centered {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.fc-event {
    background-color: #4b4981; /* Cambia esto al color que desees */
    color: #fff; /* Cambia esto al color del texto que desees */
    border-color: #4b4981; /* Cambia esto al color del borde que desees */
    font-family: Arial, Helvetica, sans-serif;
}
.fc-day {
    background-color: #313d4624; /* Cambia esto al color que desees */
    color: #fff; /* Cambia esto al color del texto que desees */
}
.fc-widget-header {
    background-color: #30292a25; /* Cambia esto al color que desees */
    color: #fff; /* Cambia esto al color del texto que desees */
    font-family: 'Courier New', Courier, monospace;
}


/* Cambiar el color de los botones del encabezado del calendario */
.fc-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

/* Cambiar el color del texto del título del mes */
.fc-center h2 {
    color: #04359d; /* Cambia esto al color que desees */
    font-family: 'Courier New', bold;
}

.container-fluid {
    padding: 20px; /* Agrega un relleno al contenedor fluido */
}

.border-rounded {
    border: 2px solid #0a0b58;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
}

.create-event-header {
    margin-bottom: 15px;
}
.green-background {
    background-color: #28a745; /* Cambia el color verde a tu preferencia */
    color: #fff; /* Cambia el color del texto para que sea legible en el fondo verde */
}



