body {
    margin: 20px; 
    text-align: center;
}

h1 {
    color: #f64040; 
    font-size: 36px; 
    font-family: 'Courier New', Courier, monospace;

}
.input-field {
    width: 30%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #bc4545; 
    border-radius: 5px; 
    box-sizing: border-box; 
    font-size: 16px; 
}
.submit-button {
    background-color: #cf5a5a; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

label {
    font-size: 30px; 
    font-family: 'Courier New', Courier, monospace;
}