<!-- Vista de Revistas en el administrador -->
<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="{{ url_for('static', filename='css/bootstrap_site.css') }}" rel="stylesheet" crossorigin="anonymous" >
  <style>
    body {
        margin: 20px; 
    }
    .navbar {
        border-radius: 10px;
        overflow: hidden;
    }
  </style>

</head>
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="p-5 mb-4 rounded-3" style="background-color: rgba(255, 255, 255, 0.9);">
            <h1 class="text-center">Edit Book</h1>
            <form action="/admin/books/{{ libro[0] }}/guardar" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="txtNombre" class="form-label">Title:</label>
                    <input type="text" class="form-control" name="txtNombre" id="txtNombre" value="{{ libro[1] }}" required>
                </div>
                <div class="mb-3">
                    <label for="txtImagen" class="form-label">Cover Image</label>
                    <input type="file" class="form-control" name="txtImagen" value="{{ libro[2] }} id="txtImagen">
                </div>
                <div class="mb-3">
                    <label for="txtURL" class="form-label">Download URL:</label>
                    <input type="text" class="form-control" name="txtURL" id="txtURL" value="{{ libro[3] }}"placeholder="URL de descarga" required>
                </div>
                <div class="mb-3">
                    <label for="txtYear">*Year:</label>
                    <select id="txtYear" name="txtYear" class="form-select">
                        {% for year in range(2030, 1849, -1) %}
                            <option value="{{ year }}" {% if year == libro[4] %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="txtArea">*Area:</label>
                    <select id="txtArea" name="txtArea" class="form-select">
                        <option value="">Select an area:</option>
                            {% for area in areas_data %}
                            {{ area[0] }} - {{ libro[5] }}<br>
                            <option value="{{ area[1] }}" {% if area[0] == libro[5] %}selected{% endif %}>{{ area[1] }}</option>
                            {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="txtAutorNombre" class="form-label">Author Name:</label>
                    <input type="text" class="form-control" name="txtAutorNombre" id="txtAutorNombre" placeholder="Nombre del autor" value="{{ autor[0] if autor else '' }}" required>
                </div>
                <div class="mb-3">
                    <label for="txtAutorApellido" class="form-label">Author Last Name:</label>
                    <input type="text" class="form-control" name="txtAutorApellido" id="txtAutorApellido" placeholder="Apellido del autor" value="{{ autor[1] if autor else '' }}" required>
                </div>
                
                <div class="mb-3">
                    <label for="txtDescripcion" class="form-label">Description:</label>
                    <textarea class="form-control" name="txtDescripcion" id="txtDescripcion" placeholder="Descripción del libro">{{ libro[7] }}</textarea>
                </div>
                
                <div class="mb-3">
                    <label for="txtVideo" class="form-label">Video:</label>
                    <input type="file" class="form-control" name="txtVideo" id="txtVideo">
                    {% if libro[8] %}
                        <div>
                            <label for="eliminarVideo">Eliminar Video:</label>
                            <input type="checkbox" id="eliminarVideo" name="eliminarVideo">
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="txtPDF" class="form-label">PDF:</label>
                    <input type="file" class="form-control" name="txtPDF" id="txtPDF">
                    {% if libro[9] %}
                        <div>
                            <label for="eliminarPDF">Eliminar PDF:</label>
                            <input type="checkbox" id="eliminarPDF" name="eliminarPDF">
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="txtImagenSecundaria" class="form-label">Image:</label>
                    <input type="file" class="form-control" name="txtImagenSecundaria" id="txtImagenSecundaria">
                    {% if libro[10] %}
                        <div>
                            <label for="eliminarImagenSecundaria">Eliminar Imagen Secundaria:</label>
                            <input type="checkbox" id="eliminarImagenSecundaria" name="eliminarImagenSecundaria">
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href="/admin/books" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
