<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Links</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .table-fixed {
            table-layout: fixed;
            width: 100%;
        }
        .table td {
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        {% include 'admin/top_of_page.html' %}
        
        <div class="row">
            <div class="container ">
                <div class="container-fluid ">
                    <div class="text-center">
                        <h1 class="mt-5">Add Links</h1>
                    </div>
                    <div class="col-md-12">
                        <form action="/admin/links/guardar" method="POST">
                            <div class="form-group">
                                <label for="nombre" class="form-label fs-4 fw-bold "><span style="color: rgb(199, 17, 17);">**</span>Title:</label>
                                <input type="text" name="nombre" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="url" class="form-label fs-4 fw-bold "><span style="color: rgb(199, 17, 17);">**</span>Link:</label>
                                <input type="url" name="url" class="form-control" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary float-right">ADD LINK</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    
        <div class="row">
            <div class="container">
                <div class="text-center">
                    <h2 class="mt-5">Links</h2>
                </div>
                {% if mensaje_error %}
                    <div class="alert alert-danger" role="alert">
                        {{ mensaje_error }}
                    </div>
                {% endif %}
                <div class="col-md-12">
                    <table class="table table-bordered table-fixed mt-3">
                        <thead class="thead-dark text-center">
                            <tr>
                                <th style="width: 33.33%">Title</th>
                                <th style="width: 33.33%">Link</th>
                                <th style="width: 33.33%">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {% for link in links %}
                                <tr>
                                    <td>{{ link[1] }}</td>
                                    <td>{{ link[2] }}</td>
                                    <td>
                                        <form action="/admin/links/delete" method="POST">
                                            <input type="hidden" name="link_id" value="{{link[0]}}">
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
