<!doctype html>
<html lang="en">

<head>
  <title>Reset Password</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous" > 
  <link href="/css/restablecer_contrasena.css" rel="stylesheet" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/restablecer_contrasena.css') }}" rel="stylesheet" crossorigin="anonymous">

</head>
<body>
    
    <h1>Reset Password</h1>
    <form method="POST">
        <label for="nueva_contrasena">New Password:</label>
        <input type="password" id="nueva_contrasena" name="nueva_contrasena" class="input-field" placeholder="new password"required>
        <input type="submit" value="Reset Password" class="submit-button">
    </form>

</body>
</html>
