<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>


    <style>
        body {
            background-image: url('/static/archivos/fondos/fondo8.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .bold-text  {
            font-weight: bold;
            color: rgb(96, 94, 174);
        }
    </style>
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
{% include 'sitio/footer.html' %}

